body {
    margin: 0;
    font-family: Roboto, sans-serif;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.under-info {
    display: flex;
    
}
.container-info h2 {
    margin-top: 32px;
    margin-bottom: 0px;
}
.info-box {
    border: 2px solid black;
    height: 100px;
    width: 100px;
    border-radius: 8px;
    border-color: #3882F6;
}

.info-grid {
    height: 200px;
    width: 800px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 35px;
    margin-bottom: 50px;
}

.container-info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.thor-author {
    font-weight: 600;
    display: flex;
    margin-left: 600px;
    margin-top: 0;
}

.thor-quote {
    color: #1f2937;
    font-size: 36px;
    margin: 0;
}

.container-thor {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 350px;
    background-color: #e5e7eb;
}

.cta-title {
    font-size: 24px;
}

.sign-up {
    background-color: #3882F6;
    color: white;
    font-size: 14px;
    cursor: pointer;
    border-color: white;
    border-radius: 8px;
    padding: 7px 30px;
    margin-left: 125px;
}
.text-container p {
    margin: 2px;
}

.blue-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    background-color: #3882F6;
    color: white;
    padding: 24px 150px;
    border-radius: 8px;
}

.container {
    display: flex;
    height: 300px;
    justify-content: center;
    align-items: center;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1f2937;
    color: white;
    height: 75px;
}